<div class="box">
    <div class="text">
		<h2>나만의 아무말 후보 뽑기 결과<br></h2> 
		<div class="option">
            <p>1번 후보 (문재인) 총 점수는 <%=@vote.select1%>점</p>
            <p>2번 후보 (홍준표) 총 점수는 <%=@vote.select2%>점</p>
            <p>3번 후보 (안철수) 총 점수는 <%=@vote.select3%>점</p>
            <p>4번 후보 (유승민) 총 점수는 <%=@vote.select4%>점</p>
            <p>5번 후보 (심상정) 총 점수는 <%=@vote.select5%>점</p>
            
            <h3>당신의 아무말 대잔치 소년(소녀)는 ★<%=@man%> ★입니다!</h3><br>
            <a href = "/" class="btn btn-primary">Main</a>
            <a href = "/check" class="btn btn-primary">문항별 아무말 후보 확인</a>
        </div>
											
																		
	</div>
			
</div>  